.Cat {
    border: none;
    background-color: transparent;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.CatPic {
    width: 20vw;
}

.Grow { 
    transition: all .2s ease-in-out; 
  }
    
  .Grow:hover { 
    transform: scale(1.05); 
  }

  p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(57, 145, 74);
  }