.Cat {
    border: none;
    background-color: transparent;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.CatPic {
    width: 20vw;
}

.Grow { 
    transition: all .2s ease-in-out; 
  }
    
  .Grow:hover { 
    transform: scale(1.05); 
  }